{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}

<!-- banner -->
<section class="banner_inner" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">{{ servicepackagedetail.Service }}</h3>
				<h3 class="mt-lg-3">{{ servicepackagedetail.title }} <strong>Explore with us!</strong></h3>
				<p class="mt-4">{{ servicepackagedetail.details }}</p>
				<img src="{{ servicepackagedetail.image.url }}" alt="" class="img-fluid" />
				<h3><a href="{% url 'bakaapp:clientservicepackagebooking' servicepackagedetail.id %}">Book Now</a></h3>
				
<!-- 				<p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
				urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p> -->
			</div>
			<div class="col-lg-6 about-right text-lg-right mt-lg-10 mt-5">
				<img src="{{ servicedetail.image.url }}" alt="" class="img-fluid abt-image" />
			</div>
		</div>
		<div class="row mt-5 text-center">
			<div class="col-lg-3 col-6">
				<div class="counter">
					<span class="fa fa-smile-o"></span>
					<div class="timer count-title count-number">1000+</div>
					<p class="count-text text-uppercase">happy customers</p>
				</div>
			</div>
			<div class="col-lg-3 col-6">
				<div class="counter">
					<span class="fa fa-ship"></span>
					<div class="timer count-title count-number">2271</div>
					<p class="count-text text-uppercase">Tours & Travels </p>
				</div>
			</div>
			<div class="col-lg-3 col-6 mt-lg-0 mt-5">
				<div class="counter">
					<span class="fa fa-users"></span>
					<div class="timer count-title count-number">200</div>
					<p class="count-text text-uppercase">destinations</p>
				</div>
			</div>
			<div class="col-lg-3 col-6 mt-lg-0 mt-5">
				<div class="counter">
					<span class="fa fa-gift"></span>
					<div class="timer count-title count-number">20+<span>years</span></div>
					<p class="count-text text-uppercase">experience</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //about -->


<!-- tabs -->
<section class="choose" id="choose">
	<div class="overlay-all py-5">
		<div class="container py-lg-5 py-sm-4">
			<h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Why Choose Us</h2>
			<div class="edu-exp-grids">
				<div class="tab-main">
					<input id="tab1" type="radio" name="tabs" class="w3pvt-sm" checked>
					<label for="tab1">We Offer</label>
					<input id="tab2" type="radio" class="w3pvt-sm" name="tabs">
					<label for="tab2">We provide</label>
					<section id="content1">
						<div class="row text-center">
							<div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Winter Tours</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Accomodation</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Low Prices</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
						</div>
					</section>
					<section id="content2">
						<div class="row text-center">
							<div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Less Crowd</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Exp Agents</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
							<div class="col-lg-4 inner-w3pvt-wrap">
								<div class="inner-sec-grid">
									<span class="fa fa-gift"></span>
									<h4 class="mt-md-4 mt-2">Easy Trip</h4>
									<p class="mt-3">Lorem ipsum dolor sit amet, conse ctetur elit. Cras lobortis mollis arcu, vel vulputate justo.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- tabs -->

<!-- testimonials -->
<section class="testimonials py-5" id="testi">
	<div class="container py-lg-5 py-md-3">
			<h3 class="heading text-capitalize text-center mb-lg-5 mb-4"> What Our Customers Say</h3>
		<div class="row pt-xl-4">
			<div class="col-md-4 test-grid px-lg-4">
				<div class="testi-info text-center">
					<p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
					<div class="test-img text-center mt-4">
						<img src="images/te1.jpg" class="img-fluid" alt="user-image">
					</div>
					<h3 class="mt-md-4 mt-3">Elisa ker</h3>
				</div>
			</div>
			<div class="col-md-4 test-grid px-lg-4 my-md-0 my-5">
				<div class="testi-info text-center">
					<p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
					<div class="test-img text-center mt-4">
						<img src="images/te2.jpg" class="img-fluid" alt="user-image">
					</div>
					<h3 class="mt-md-4 mt-3">Johnson</h3>
				</div>
			</div>
			<div class="col-md-4 test-grid px-lg-4">
				<div class="testi-info text-center">
					<p class="text-li">"Sed ut perspiciatis unde omnis ist natus error sit volup tatem acu antium dolor tium sed e ullam dolor amet.</p>
					<div class="test-img text-center mt-4">
						<img src="images/te3.jpg" class="img-fluid" alt="user-image">
					</div>
					<h3 class="mt-md-4 mt-3">Elizabeth</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //testimonials -->

{% endblock %}