{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}

<!-- Booking -->
<section class="contact py-5">
	<div class="container py-lg-5 py-sm-4">
		<h2 class="heading text-capitalize text-center mb-lg-5 mb-4"> Book Your Tour</h2>
		<div class="contact-grids">
			<div class="row">
				<div class="col-lg-7 contact-left-form">
					<form action="." method="post" class="row">
						{% csrf_token %}
						<div class="col-sm-6 form-group contact-forms">
						  {{form.name}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
						  {{form.email}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
						  {{form.phone}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
						  {{form.date}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
						  {{form.address}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
							<p>No of adults:</p>
							{{form.adults}}
						</div>
						<div class="col-sm-6 form-group contact-forms">
							{{form.kids}}
						</div>
						<div class="col-md-12 form-group contact-forms">
						  {{form.message}}
						</div>
						<div class="col-md-12 booking-button">
							<button class="btn btn-block sent-butnn"><a href="{% url 'bakaapp:clienthome' %}"></a>
							Book Now</button>
						</div>
					</form>
				</div>
				<div class="col-lg-5 contact-right pl-lg-5">
				
					<div class="image-tour position-relative">
						<img src="images/banner1.jpg" alt="" class="img-fluid" />
						<p><span class="fa fa-tags"></span> <span>20$ - 15% off</span></p>
					</div>
					
					<h4>Tour Description</h4>
					<p class="mt-3">Duis nisi sapien, elementum finibus ferme ntum ed eget, aliquet et leo. Mauris hendrerit vel ex.
					vitae luctus massa. Phas ellus sed aliquam leo et dolor. Vestibulum ullamcorper massa eut sed fringilla.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Booking -->

{% endblock %}