{% extends 'admintemplates/adminbase.html' %}

{% load static %}

{% block content %}

<h3>ServicePackage Delete </h3>
<form method = "Post">
{% csrf_token %}
<p>Are you Sure To delete?</p>
<button class = "btn btn-danger">yes</button>
<a href="{% url 'bakaapp:adminservicepackagelist' %}" class="btn btn-info"> No</a>
</form>

{% endblock %}