{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		                
                	</div>
                	<div class="col-md-2">
                		<a href="{% url 'bakaapp:adminservicepackagecreate' %}"  style="font-size: 40px"><span class="fas fa-plus-circle text-primary"></span></a>
                	</div>
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Service Packages</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Service</th>
                                <th scope="col">Title</th>
                                <th scope="col">image</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Durations</th>
                                <th scope="col">Created at</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for servicepackage in adminservicepackagelist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>

                                <td>{{servicepackage.service}}</td>
                                <td>{{servicepackage.title}}</td>
                                <td><img src="{{servicepackage.image.url}}" width="80"></td>
                                <td>{{servicepackage.rate}}</td>
                                <td>{{servicepackage.duration}}</td>
                                <td>{{servicepackage.created_at}}</td>
                                <td>
                                	<a href="{% url 'bakaapp:adminservicepackageupdate' servicepackage.id %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                	<a href="{% url 'bakaapp:adminservicepackagedelete' servicepackage.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--// table5 -->

            </section>

{% endblock %}