{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		                
                	</div>
                	<div class="col-md-2">
                		<a href="{% url 'bakaapp:adminoffercreate' %}"  style="font-size: 40px"><span class="fas fa-plus-circle text-primary"></span></a>
                	</div>
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Offers</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Title</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Packages</th>
                                <th scope="col">Image</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for offer in adminofferlist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{offer.title}}</td>
                                <td>{{offer.offer_starts}}</td>
                                <td>{{offer.offer_ends}}</td>
                                <td>{{offer.packages}}</td>
                                <td><img src="{{offer.images.url}}" width="70"></td>
                                <td>{{offer.created_at}}</td>
                                <td>
                                	<a href="{% url 'bakaapp:adminofferupdate' offer.id %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                	<a href="{% url 'bakaapp:adminofferdelete' offer.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--// table5 -->

            </section>

{% endblock %}