{% extends 'admintemplates/adminbase.html' %}

{% block content %}
<!-- <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2> -->
            <!--// main-heading -->

            <!-- Tables content -->
                <div class="row">
                	<div class="col-md-10">
                		
		                
                	</div>
                	<div class="col-md-2">
                		<a href="{% url 'bakaapp:adminteamcreate' %}"  style="font-size: 40px"><span class="fas fa-plus-circle text-primary"></span></a>
                	</div>
                </div>
            <section class="tables-section">
                
                <!-- table5 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">All Team Members</h4>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Name</th>
                                <th scope="col">Post</th>
                                <th scope="col">Image</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{% for team in adminteamlist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{team.name}}</td>
                                <td>{{service.post}}</td>
                                <td><img src="{{team.image.url}}" width="80"></td>
                                <td>{{team.mobile}}</td>
                                <td>{{service.email}}</td>
                                <td>{{service.experience}}</td>
                                <td>{{service.created_at}}</td>
                                <td>
                                	<a href="{% url 'bakaapp:adminserviceupdate' service.id %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                	<a href="{% url 'bakaapp:adminservicedelete' service.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--// table5 -->

            </section>

{% endblock %}