{% extends 'admintemplates/adminbase.html' %}

{% load static %}


{% block content %}
<style type="text/css">
    .select2-search__field{
        width: 30rem!important;
    }
</style>

<!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Service Form</h2> -->
            <!--// main-heading -->

            <!-- Forms content -->
            <section class="forms-section">

              
                
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Offer form</h4>
                    <form action="." method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        <table class="table">
                            
                    	{{form.as_table}}
                        </table>
                       <br>
                        
                        <button type="submit" class="btn btn-primary">Apply Change Now</button>
                    </form>
                </div>
                <!--// Forms-3 -->
             
            </section>
           


{% endblock %}