{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link href="{% static 'adminstatic/css//bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div class="row bg-success mb-3">
		<div class="col-md-12">
			<h1 class="text-white text-center p-5">Login to enter admin panel</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 mx-auto p-3" style="border: 1px solid green;">
		 	<form method = "POST">
		 		{% csrf_token %}
		 		{{ form.as_p }}
		 		<button class="btn btn-primary btn-block">Login</button>
		 	</form>
		</div>
	</div>

</body>
</html>