{% extends 'admintemplates/adminbase.html' %}

{% load static %}


{% block content %}

<!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Service Form</h2> -->
            <!--// main-heading -->

            <!-- Forms content -->
            <section class="forms-section">

              
                
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Album Form</h4>
                    <form action="." method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                    	{{form.as_p}}
                        <!-- <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Title</label>
                                {{form.title}}
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Slug</label>
                                {{form.slug}}
                                
                            </div>
                        </div> -->
                        
                        <button type="submit" class="btn btn-primary">Apply Change Now</button>
                    </form>
                </div>
                <!--// Forms-3 -->
             
            </section>


{% endblock %}